# STM32CubeIDE build folders
Debug/
Release/

# IDE / build system
.settings/
.build/
*.launch

# Compiled outputs
*.o
*.d
*.elf
*.map
*.hex
*.bin

# OS / editor
.vscode/
.DS_Store
Thumbs.db

# CubeMX backup
*.bak
