# =========================
# Build / Debug folders
# =========================
Debug/
Release/
build/
out/

# =========================
# STM32CubeIDE / Eclipse
# =========================
.metadata/
.settings/
*.launch
*.log
*.tmp

# =========================
# Object & binary files
# =========================
*.o
*.a
*.elf
*.hex
*.bin
*.map
*.d
*.su

# =========================
# IDE specific
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS generated
# =========================
.DS_Store
Thumbs.db

# =========================
# STM32CubeIDE project files
# =========================
.project
.cproject
.mxproject

